commandFunctions
commands/admin
node_modules
commands/database
utils
eng.traineddata
config.json
.env
logger
events
package-lock.json
package.json
google_sheets/
deviceAuth.json
ticket-system.json
unfinished
submissions.json
trial/trialScrape.js